# print, input 등 간단한 내용

### 실제로 코드 작성할때는 print를 써서 출력값을 내보내기

In [21]:
a = 5
b = 6
a+b

11

In [2]:
print(a+b)

11

input()
- 입력값을 받음

예제

In [19]:
a = input("a값을 입력해주세요")

a값을 입력해주세요20

In [20]:
print(a)

20

주석 예제

In [9]:
identity = "인간" #정체
number_of_legs = 2 #다리의 수
print("identity" + "number_of_legs")

identitynumber_of_legs

주석을 여러줄로 쓰는 방법

In [11]:
"""
안녕하세요 이건 주석입니다
여러 줄을 쓸 수 있어요
"""
print("여러줄 주석")

여러줄 주석

### 변수

In [13]:
var = "변수" #변수의 이름 = 값 '='은 변수에 값을 저장하라는 뜻
print(var)

변수

이미 존재하는 변수에 새로운 값을 입력하는 것은 변수에 값을 변경하는 것이 아닌 새로 선언하는 것과 같음

변수 생성시 특징
- 변수명의 첫문자는 영문 또는 언더바로 시작

변수 제거 예제

In [14]:
print(a)
print(b)

20
6

In [22]:
del(a) #변수 a 삭제
del(b) #변수 b 삭제

파이썬은 대소문자를 구분

In [23]:
a = "Python"
print(a)

Python

if문 예제

In [24]:
a = 10
if(a > 5):
    print("a는 5보다 크다")

a는 5보다 크다

In [25]:
b = 5
if(b>5):
    print("b는 5보다 크다")
else:
    print("b는 5보다 작거나 같다")

b는 5보다 작거나 같다

for문 예제

In [26]:
for apple in [1,2,3]:
    print(apple)

1
2
3

In [27]:
for apple in [1,23]:
    print(apple)

1
23

- for는 안에있는걸 호출해서 반복
- while은 조건에 맞을땐 계속 반복

while문 예제

In [38]:
treeHit = 0
while treeHit < 10:
    treeHit += 1
    print("tree %d Hit" %treeHit)
    if(treeHit == 10):
        print("tree brokedown after %d Hit" %treeHit)

tree 1 Hit
tree 2 Hit
tree 3 Hit
tree 4 Hit
tree 5 Hit
tree 6 Hit
tree 7 Hit
tree 8 Hit
tree 9 Hit
tree 10 Hit
tree brokedown after 10 Hit

- for문은 리스트. 튜플, 문자열과 함께 쓰이고
- while은 조건문과 함께 쓰이는 반복문이다

함수

- 함수는 인자를 입력받아 결과를 도출하는 목적으로 사용

함수만들기 예제

In [39]:
def add(a, b):
    return a+b

In [41]:
print(add(3, 6))

9

파이썬이 객체 지향이라고 부르는 이유?<br>

In [43]:
a = 10
print(id(a)) #a 변수의 메모리 주소 확인

140704094103632

In [44]:
b = 10
print(id(b)) #b 변수의 메모리 주소 확인

140704094103632

## 자료형

정수
- 정수는 int로 나타냄
- 파이썬 정수의 크기는 32bit(4bytes)

정수 확인 예제

In [45]:
a = 123

In [46]:
print(type(int))

<class 'type'>

In [48]:
print((9).bit_length()) #정수의 길이는 4byte

4

부동소수점(실수)
- 부동소수점의 float으로 나타냄

부동소수점(실수) 확인 예제

In [49]:
b = -1.23
print(type(b))

<class 'float'>

2진수 0b10 -> 2   bin() 이용 bin(2) -> 0b10<br>
8진수 0o10 -> 8   oct() 이용 oct(8) -> 0o10 or 010<br>
16진수 0x10 -> 16 hex() 이용 hex(16) -> 0x10<br><br>

2진수 8진수 16진수 확인 예제

In [52]:
print(bin(12))
print(oct(12))
print(hex(12))

0b1100
0o14
0xc

x의 y제곱을 나타내는 연산자

In [53]:
print(2**3)

8

나눗셈

In [54]:
print(8/2)

4.0

나눗셈 후 나머지

In [55]:
print(3%2)

1

나눗셈 후 몫 만 출력

In [56]:
print(8//3)

2

### 33페이지 6번째 줄 
-> 문자열 끼리의 덧셈, 문자와 숫자의 곱셈이 가능

In [60]:
print("10000\\")

10000\

 - 특수 기호의 역할을 하지 못하게 하고 싶을때 앞에 \를 붙여줌
 
 여러 줄인 문자열을 변수에 대입하고 싶은경우
 
 1. 줄을 바꾸기 위한 이스케이프 문자 사용

In [57]:
print("testtest \n testtest")

testtest
 testtest

- 읽기가 불편하고 줄이 길어짐

2. 연속된 작은 따움표(''') or 큰 따움표(""") 세 개 사용

In [58]:
multiline= """testset
test
test"""

In [59]:
print(multiline)

testset
test
test

문자열 합치지 예제

In [61]:
head = "head"
tail= "tail"
print(head+tail)

headtail

문자열 곱하기 예제

In [62]:
a = "test"
print(a*2)

testtest

문자열 곱하기 응용 예제

In [65]:
print("=" * 30)
print("\tmy program")
print("=" * 30)

==============================
	my program
==============================

문자열 길이 구하기 예제

In [66]:
a = "testtest"
print(len(a))

8

문자열 인덱싱 예제

In [67]:
a = "life is too short, you need python"

In [68]:
print(a[3])

e

In [70]:
print(a[-10])

e

문자열 슬라이싱 예제

In [71]:
print(a[0:4])

life

In [73]:
print(a[10:])

o short, you need python

In [74]:
a = "pithon" # pithon -> python

In [77]:
print(a[0]+ "y"+a[2:6])

python

In [85]:
a = a.replace("i", "y")

In [86]:
print(a)

python

문자열 포매팅 예제\n
1. 숫자 바로 대입

In [87]:
print("i eat %d apples" %3)

i deat 3 apples

2. 문자열 바로 대입

In [88]:
print("i eat %s apples" %"three")

i eat three apples

3. 숫자 값을 나타내는 변수로 대입

In [89]:
number = 3
print("i eat %d apples" %number)

i eat 3 apples

4. 2개 이상의 값을 대입

In [92]:
number = 3
day = "three"
print("i eat %d apples, so i was sick for %s days" % (number, day))

i eat 3 apples, so i was sick for three days

%d와 %를 같이 사용하는 예제

In [98]:
print("Error is %d%%" % (99))

Error is 99%

### 40page 3번째 줄 글짜 깨짐 --> "
### 5번째 줄 글자 깨짐 -> 소수점

In [99]:
print("%s" %'hi')

hi

In [100]:
print("%10s" %'hi')

        hi

In [106]:
print("%-10s a" %'hi')

hi         a

소수점 표현하기 예제

In [109]:
print("%f" %3.141592)

3.141592

In [111]:
print("%0.4f" %3.141592)

3.1416

In [112]:
print("%10.4f" %3.141592)

    3.1416

format() 함수를 이용한 포매팅 예제

In [113]:
print("{} {} {}" .format(11, 22, 33))

11 22 33

In [114]:
number = 3
day ="three"
print("i eat {1} apples, so i was sick for {0} days" .format(number, day))

i eat three apples, so i was sick for 3 days

In [118]:
print("i eat {number} apples, so i was sick for {day} days" .format(number = 10, day = "four"))

i eat 10 apples, so i was sick for four days

f 문자열 포매팅 예제

In [120]:
name = "홍길동"
age = 19
print(f'나의이름은{name}. 나이는 {age}')

나의이름은홍길동. 나이는 19

In [121]:
name = "홍길동"
age = 19
print(f'나의이름은{name}. 나이는 {age+1}')

나의이름은홍길동. 나이는 20

문자열 개수 세기 예제(count)

In [122]:
a = "hobby"
print(a.count("b"))

2

문자 위치 알려주기 예제1(find)

In [125]:
a = "Python is best choice"
print(a.find("b"))

10

- 문자열 중 문자 b가 처음 나온 위치를 반환. 찾는 문자나 문자열이 없으면 -1을 반환

문자 위치 알려주기 예제2(index)

In [126]:
a = "Python is best choice"
print(a.index("b"))

10

- 찾는 문자나 문자열이 없으면 에러를 반환

문자열 삽입 예제(join)

In [127]:
a = "."
print(a.join("abcd"))

a.b.c.d

In [128]:
a = ":"
print(a.join(["a", "b", "c", "d"]))

a:b:c:d

대문자 소문자 변환

In [129]:
a = "hi"
print(a.upper())

HI

In [130]:
a = "HI"
print(a.lower())

hi

왼쪽 공백 지우기(lstrip)

In [131]:
a = "  hi   "
print(a.lstrip())

hi

오른쪽 공백 지우기(rstrip)

In [134]:
a = "   hi   "
print(a.rstrip())

   hi

양쪽 공백 지우기(strip)

In [135]:
a = "   hi   "
print(a.strip())

hi

44page 첫번째 줄 글자 깨짐 -> 문자열

문자열 바꾸기 예제(replace)

In [136]:
a = "Life is too short"
print(a.replace("Life", "your leg"))

your leg is too short

문자열 나누기 예제(split)

In [138]:
a = "Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [141]:
b = "a:b:c:d"
print(b.split(":"))

['a', 'b', 'c', 'd']

- split() 함수는 괄호 안에 아무것도 넣어 주지 않을 경우 공백을 기준을 나눔
- split() 함수의 괄호 안에 특정 값이 있는 경우 특정 값을 기준으로 나눔