리스트
- 여러 요소값을 담을 수 있는 자료형
- \[\](대괄호)를 이용하여 생성

리스트 생성 예제

In [1]:
a = [1, 2, 3]

In [2]:
print(a)

[1, 2, 3]

리스트 인덱싱 예제

In [3]:
print(a[0])

1

In [4]:
print(a[0]+a[2])

4

In [5]:
print(a[-1])

3

In [6]:
b = ['Life','is','too', 'short']

In [8]:
print(b[0]+b[1])

Lifeis

In [11]:
a=[1, 2, 3, ['a','b','c']]

In [12]:
print(a[0])

1

In [14]:
print(a[-1])

['a', 'b', 'c']

In [17]:
print(a[-1][0])

a

In [18]:
a=[1, 2, ['a', 'b',['life','is']]]

In [20]:
print(a[2])

['a', 'b', ['life', 'is']]

In [21]:
print(a[2][2][0])

life

리스트 슬라이싱 예제

In [22]:
a = [1, 2, 3, 4, 5]

In [23]:
print(a[0:2])

[1, 2]

In [24]:
b = a[:2]

In [25]:
print(b)

[1, 2]

In [26]:
c = a[2:]

In [28]:
print(c)

[3, 4, 5]

In [31]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [32]:
print(a[2:5])

[3, ['a', 'b', 'c'], 4]

In [33]:
print(a[3])

['a', 'b', 'c']

In [34]:
print(a[3][:2])

['a', 'b']

리스트 합치기 예제

In [36]:
a = [1, 2, 3]
b = [4, 5, 6]

In [37]:
print(a+b)

[1, 2, 3, 4, 5, 6]

리스트 반복 예제

In [38]:
print(a*2)

[1, 2, 3, 1, 2, 3]

리스트 요소 수정 예제

In [39]:
a = [1, 2, 3]

In [40]:
print(a[2])

3

In [41]:
a[2] = 4

In [42]:
print(a)

[1, 2, 4]

In [43]:
a[1:2] = ['a', ' b', 'c']

In [44]:
print(a)

[1, 'a', ' b', 'c', 4]

In [45]:
a[0] = ['a1', 'a2', 'a3']

In [46]:
print(a)

[['a1', 'a2', 'a3'], 'a', ' b', 'c', 4]

슬라이싱 형태로 나눈 리스트에 값을 넣으면 요소 값만이 그대로 들어가고
인덱싱은 콕 집어서 요소 값이 리스트 형태로 들어간다

In [47]:
print(a[0])

['a1', 'a2', 'a3']

In [48]:
print(a[1])

a

리스트 요소 제거 예제

In [49]:
print(a)

[['a1', 'a2', 'a3'], 'a', ' b', 'c', 4]

In [50]:
a[1:3] =[]

In [51]:
print(a)

[['a1', 'a2', 'a3'], 'c', 4]

In [52]:
del a[1]

In [53]:
print(a)

[['a1', 'a2', 'a3'], 4]

In [54]:
del a[0:2]

In [55]:
print(a)

[]

리스트 관련 함수

- 리시트 요소 추가 예제

In [56]:
a = [1, 2, 3]

In [57]:
a.append(4)

In [58]:
print(a)

[1, 2, 3, 4]

In [60]:
a.append([5,6])

In [61]:
print(a)

[1, 2, 3, 4, [5, 6]]

리스트 정렬 예제

In [62]:
a = [1, 4, 3, 2]

In [63]:
a.sort()

In [64]:
print(a)

[1, 2, 3, 4]

In [65]:
a = ['abc', '123', 'you need python']

In [66]:
a.sort()

In [67]:
print(a)

['123', 'abc', 'you need python']

In [68]:
a = ['abc', 123, 'you need python']

위와 같이 리스트 내의 요소들의 type이 다르면 정렬이 불가능

In [70]:
a = ['abc', '123', 'You need python']

In [71]:
a.sort()
print(a)

['123', 'You need python', 'abc']

In [72]:
a = ['abc', '123', 'you need python', '안녕']

In [73]:
a.sort()
print(a)

['123', 'abc', 'you need python', '안녕']

숫자 -> 영어(대문자 -> 소문자) -> 한글 순서로 정렬됨

리스트 뒤집기 예제

In [74]:
a = [1, 2, 3]

In [75]:
a.reverse()

In [77]:
print(a)

[3, 2, 1]

리스트 index 예제 값을 입력하면 리스트 내의 그 값이 어느자리에 있는지 알려줌

In [80]:
print(a.index(2))

1

리스트 중간에 요소를 추가하기(insert)

In [81]:
a = [1, 2, 3]

In [82]:
a.insert(0,1)

In [84]:
print(a)

[1, 1, 2, 3]

In [85]:
a.insert(0, [1,2,3])

In [86]:
print(a)

[[1, 2, 3], 1, 1, 2, 3]

리스트 요소 제거 예제

In [87]:
a = [1, 2, 3, 1, 2, 3 ]

In [88]:
a. remove(3)

In [89]:
print(a)

[1, 2, 1, 2, 3]

In [90]:
a.remove(3)

In [91]:
print(a)

[1, 2, 1, 2]

리스트 요소 끄집어내기 예제

In [92]:
a = [1,2,3]

In [93]:
a.pop()

3

In [94]:
print(a)

[1, 2]

리스트 개수 세기 예제

In [95]:
a = [1, 2, 3, 1]

In [96]:
a.count(1)

2

리스트 extend(확장)는 리스트를 합침

In [97]:
a = [1,2,3]

In [99]:
a.extend([4,5])

In [100]:
print(a)

[1, 2, 3, 4, 5]

61page 제목 --> Tuple(튜플)

튜플은 이런식으로 선언 가능

In [101]:
t1 = ()

In [104]:
t1 =(1,2, 3)

In [105]:
print(t1)

(1, 2, 3)

In [106]:
t1 = 2, 3, 4

In [107]:
print(t1)

(2, 3, 4)

In [108]:
t2 = (2,)

In [109]:
print(t2)

(2,)

In [111]:
print(type(t2))

<class 'tuple'>

In [112]:
t3=(1, 2, (1,2,3))

In [113]:
print(t3)

(1, 2, (1, 2, 3))

리스트와 유사하지만 읽기전용임
요소를 지우거나 변경불가 -> 안전하고 빠르게 사용<br>
인덱싱 슬라이싱 가능<br>
더하기 곱하기 가능<br>
길이 구하기 가능<br>

튜플의 패킹과 언패킹
- 패킹 : 한 데이터에서 여러 개의 데이터를 넣는 것
 - 실습을 통해 만들어본 리스트, 튜플 자료형이 패킹에 속함
- 언패킹 : 한 데이터에서 데이터를 각각 꺼내오는 것
 - 튜플, 리스트 둘다 패킹 언패킹이 가능하다

In [115]:
T = (1,2,3,4,5)

In [116]:
a, *b = T

In [117]:
print(a, b)

1 [2, 3, 4, 5]

In [118]:
a, b, *c = T

In [119]:
print(a,b,c)

1 2 [3, 4, 5]

In [120]:
L = [1,2,3,4,5]

In [121]:
a, b, c, d, e =L

In [122]:
print(a,b,c,d,e)

1 2 3 4 5

리스트 -> 튜플 변경 예제

In [123]:
L = [1,2,3,4,5]

In [124]:
T = tuple(L)

In [125]:
print(T)

(1, 2, 3, 4, 5)

튜플 -> 리스트 변경 예제

In [126]:
T =(1,2,3,4,5)

In [128]:
L=list(T)

In [129]:
print(L)

[1, 2, 3, 4, 5]

딕셔너리
 - 사전
 - key-value 형식으로 이루어진 자료형
 
딕셔너리 생성예제

In [133]:
dic = {'name':'yong', 'phone': 1031776475, 'birth': 1222}

In [134]:
print(dic)

{'name': 'yong', 'phone': 1031776475, 'birth': 1222}

In [135]:
a = { 1: 'a', 2:'b'}

In [136]:
print(a)

{1: 'a', 2: 'b'}

In [137]:
a['name'] = 'ad'

In [138]:
print(a)

{1: 'a', 2: 'b', 'name': 'ad'}

In [139]:
a[3] = [1,2,3]

In [140]:
print(a)

{1: 'a', 2: 'b', 'name': 'ad', 3: [1, 2, 3]}

함수를 만들어서 키와 값으로 활용하기 예제

In [143]:
def add(a, b):
    return a+b
def sub(a, b):
    return a-b

action = {0:add, 1:sub}

In [145]:
action[0](2,3)

5

 - 0번 키를 호출, 값에 2, 3을 대입한 결과 출력

딕셔너리를 만드는 다른 방법(함수)

In [146]:
a = dict(one=1, two=2)

In [147]:
print(a)

{'one': 1, 'two': 2}

In [149]:
b = dict([('one',1), ('two',2)])

In [150]:
print(b)

{'one': 1, 'two': 2}

In [190]:
al = dict(1='one', two=2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-190-ec4e2aaba7a1>, line 1)

- dict() 함수는 '키워드 인수'를 사용하기 때문에 키가 문자열일 경우 동작

In [153]:
c = dict([['one',1],['two',2]])

In [154]:
print(c)

{'one': 1, 'two': 2}

In [156]:
keys = ['one','two','three']
values = (1,2,3)
zip(keys, values)
d = dict(zip(keys, values))

In [157]:
print(d)

{'one': 1, 'two': 2, 'three': 3}

실제로는 첫번째랑 마지막 방법이 자주 사용

딕셔너리 키 제거 예제

In [158]:
a = {1:'a', 2:'b','name':'yong', 3:[1,2,3]}

In [159]:
print(a)

{1: 'a', 2: 'b', 'name': 'yong', 3: [1, 2, 3]}

In [160]:
del a[1]

In [161]:
print(a)

{2: 'b', 'name': 'yong', 3: [1, 2, 3]}

딕셔너리에서 키를 이용하여 값을 얻기 예제

In [162]:
a = {1:'a', 2:'b'}

In [164]:
print(a[1])

a

키 리스트 만들기 예제

In [166]:
a = {'name':'yong', 'phone': 1031776475, 'birth': 1222}

In [168]:
print(a.keys())

dict_keys(['name', 'phone', 'birth'])

In [171]:
print(type(a.keys()))

<class 'dict_keys'>

In [172]:
b = list(a.keys())

In [173]:
print(b)

['name', 'phone', 'birth']

In [174]:
for k in a.keys():
    print(k)

name
phone
birth

In [175]:
for k in a.values():
    print(k)

yong
1031776475
1222

In [176]:
print(a.items())

dict_items([('name', 'yong'), ('phone', 1031776475), ('birth', 1222)])

키를 이용하여 값 출력하기
 - get을 입력했는데 없으면 none, 그냥 값 출력했는데 없으면 오류

In [177]:
a = {'name':'yong', 'phone': 1031776475, 'birth': 1222}

In [178]:
print(a.get('name'))

yong

In [179]:
print(a.get('phone'))

1031776475

get함수 사용과 미사용 차이

In [180]:
a = {'name':'yong', 'phone': 1031776475, 'birth': 1222}

In [182]:
print(a.get('nonekey'))

None

In [183]:
print(a['nonekey'])

KeyError: 'nonekey'

딕셔너리 안에 키가 없는 경우 디폴트 값 가져오기

In [184]:
a = {'name':'yong', 'phone': 1031776475, 'birth': 1222}

In [185]:
print(a.get('foo'))

None

In [186]:
print(a.get('foo','bar'))

bar

해당 키의 존재 유무 예제

In [187]:
a = {'name':'yong', 'phone': 1031776475, 'birth': 1222}

In [188]:
print('name' in a)

True

In [189]:
print('email' in a)

False

집합
- 여러 값을 순서 없이 그리고 중복 없이 모아 놓은 자료형

집합 생성 예제

In [191]:
s1 = set([1,2,3])

In [192]:
print(s1)

{1, 2, 3}

In [193]:
print(type(s1))

<class 'set'>

In [194]:
s2 = set("Hello")

In [195]:
print(s2)

{'H', 'o', 'e', 'l'}

In [196]:
s3 = set((1,2,3))

In [197]:
print(type(s3))

<class 'set'>

집합은 순서 x 중복 x

교집합 예제

In [203]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [207]:
print(s1&s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

합집합 예제

In [208]:
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

차집합 예제

In [211]:
print(s1-s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

집합에 값 1개 추가하기 예제

In [212]:
s1 = set([1, 2, 3])

In [213]:
s1.add(4)

In [216]:
print(s1)

{1, 2, 3, 4}

집합에 값 여러개 추가하기 예제

In [217]:
s2 = set([1, 2, 3])

In [219]:
s2.update([4,5,6])

In [221]:
print(s2)

{1, 2, 3, 4, 5, 6}

집합에 특정 값 제거 예제

In [222]:
s3 = set([1, 2, 3])

In [223]:
s3.remove(3)

In [224]:
print(s3)

{1, 2}

논리 연산자와 비교 연산자를 함께 사용하기 예제

In [226]:
print(10 == 10)

True

In [227]:
print(5==10)

False

In [231]:
print(10==10 & 10 !=5)
print(10==10 and 10 !=5)

True
True

and는 둘 다 참이라 참이라는 결과 출력

In [240]:
print((10>5) or (12<4))
print((10>5) | (12<4))

True
True

or는 하나라도 참이면 참 출력

In [241]:
print(not 10<5)

True

not은 결과를 뒤집음

## 제어문

if문 예제 <br>
if문 조건에 0이 들어가면 false 0 이외의 수는 Ture String은 무조건 참

In [242]:
money = True
if (money == True):
    print("택시타")
else :
    print("걸어가")

택시타

pass 예제

In [244]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

pass 응용 예제

In [250]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    print("현금을 꺼내라")
    pass
    print("종이를 꺼내라")
else:
    print("카드를 꺼내라")

현금을 꺼내라
종이를 꺼내라

- 코드 중간에 pass 구문이 있어도 전체 코드가 실행됨

elif 구문 예제

In [251]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시 ㄱ")
else:
    if card:
        print("택시 ㄱ 카드 ㄱ")
    else:
        print("걸어가")

택시 ㄱ 카드 ㄱ

문자열이 들어가면 기본적으로 True임 <br>
예를 들어 if 'string' : 이면 무조건 if문안으로 들어온다는 뜻

## while문

In [253]:
i = 0
while i<10:
    print("반복문 %d회 동작" %i)
    i += 1

반복문 0회 동작
반복문 1회 동작
반복문 2회 동작
반복문 3회 동작
반복문 4회 동작
반복문 5회 동작
반복문 6회 동작
반복문 7회 동작
반복문 8회 동작
반복문 9회 동작

Break 문 사용

In [4]:
coffee =int(input("커피의 개수"))
money = int(input("내 재산"))
while money:
    print("돈 차감하고 커피 주문")
    coffee -= 1
    print("남은 커피 양은 %d 입니다" %coffee)
    money -= 50
    if not coffee:
        print("커피 재고 소진")
        break
    if not money:
        print("커피 살 돈 없음")
        break

커피의 개수10
내 재산5000
돈 차감하고 커피 주문
남은 커피 양은 9 입니다
돈 차감하고 커피 주문
남은 커피 양은 8 입니다
돈 차감하고 커피 주문
남은 커피 양은 7 입니다
돈 차감하고 커피 주문
남은 커피 양은 6 입니다
돈 차감하고 커피 주문
남은 커피 양은 5 입니다
돈 차감하고 커피 주문
남은 커피 양은 4 입니다
돈 차감하고 커피 주문
남은 커피 양은 3 입니다
돈 차감하고 커피 주문
남은 커피 양은 2 입니다
돈 차감하고 커피 주문
남은 커피 양은 1 입니다
돈 차감하고 커피 주문
남은 커피 양은 0 입니다
커피 재고 소진

continue문 예제(2의 배수 넘기기)

In [6]:
a = 0
while a <10:
    a=a+1
    if a%2==0:
        continue
    print(a)

1
3
5
7
9

for <br>
for문 예제 <br>
리스트 내의 요소가 다 소모될 때 가지 반복

In [14]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

리스트에 있는 처음 인덱스 만큼만 나옴

In [15]:
a = [(1,2),(3,4),(5,6)]
for (first, last) in a:
    print(first+last)

3
7
11

for문의 응용
 - for + if

In [17]:
test_score = [55, 65, 70, 90, 33]
stu_num = 0
for i in test_score:
    stu_num += 1
    if i> 60:
        print("%d번 학생 %d점으로 통과!" %(stu_num, i))
    else:
        print("%d번 학생 %d점으로 불합격!" %(stu_num, i))

1번 학생 55점으로 불합격!
2번 학생 65점으로 통과!
3번 학생 70점으로 통과!
4번 학생 90점으로 통과!
5번 학생 33점으로 불합격!

for문 예제 (continue)

In [18]:
test_score = [55, 65, 70, 90, 33]
stu_num = 0
for i in test_score:
    stu_num += 1
    if i> 60:
        print("%d번 학생 %d점으로 통과!" %(stu_num, i))
        continue
print("불합격한 사람 명단은 나오지 않습니다")

2번 학생 65점으로 통과!
3번 학생 70점으로 통과!
4번 학생 90점으로 통과!
불합격 한 사람 명단은 나오지 않습니다

pass 구문 이용

In [19]:
test_score = [55, 65, 70, 90, 33]
stu_num = 0
for i in test_score:
    stu_num += 1
    if i< 60:
        pass
    else:
        print("%d번 학생 %d점으로 통과!" %(stu_num, i))
print("불합격한 사람 명단은 나오지 않습니다")

2번 학생 65점으로 통과!
3번 학생 70점으로 통과!
4번 학생 90점으로 통과!
불합격 한 사람 명단은 나오지 않습니다

range 예제

In [21]:
a = range(10)
print(a)

range(0, 10)

In [22]:
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
a = range(1, 11)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

range()를 이용한 for 문 예제

In [29]:
test_score = [55, 65, 70, 90, 33]
stu_num = 0
for i in range(len(test_score)):
    stu_num += 1
    if test_score[i]> 60:
        print("%d번 학생 %d점으로 통과!" %(stu_num, test_score[i]))
        continue
print("불합격한 사람 명단은 나오지 않습니다")

2번 학생 65점으로 통과!
3번 학생 70점으로 통과!
4번 학생 90점으로 통과!
불합격한 사람 명단은 나오지 않습니다

In [5]:
for i in range(2,10):
    for j in range(1, 10):
        a = i*j
        print(i*j, end=" ")
        if a == 49 : break
    if a == 49: break
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49