# 판다스 자료구조
- 서로 다른 형식을 갖는 여러 종류의 데이터를 컴퓨터가 이해할 수 있도록 동일한 형식을 갖는 구조로 통합할 필요가 있음
- 판다스는 시리즈(Series)와 데이터프레임(DateFrame)이라는 데이터 형식을 제공
- Numpy : 배열 및 연산
- Pandas : 자료구조 및 시각화

## 시리즈
- 데이터가 순차적으로 나열된 1차원 배열(열벡터)
- 인덱스(index)는 데이터 값(value)과 1대1 대응

정리
- 시리즈의 인덱스는 데이터 값의 위치를 나타내는 이름표(주소) 역할
- 'index 2' 주소를 알고 있다면 'Data 2'라는 원소 데이터 값에 접근 가능

시리즈 만들기
- 딕셔너리와 시리즈의 구조가 비슷하기 때문에 딕셔너리를 시리즈로 변환 하는 방법을 많이 사용
- 판다스 내장 함수인 Series() 사용
 - 딕셔너리 함수의 인자로 전달
 
형식<br>
 딕셔너리 -> 시리즈 변환: pandas.Serise(딕셔너리)
  <br><br>
  
 딕셔너리를 시리즈로 변환하는 예제

In [3]:
# pandas import
import pandas as pd

# key:valuse를 쌍으로 갖는 딕셔너리를 생성, 변수 dict_data에 저장
dict_data = {'a':1, 'b':2, 'c': 3}

# 판다스 Series()함수로 딕셔너리를 시리즈로 변환, 변수 sr에 저장
sr = pd.Series(dict_data)

In [5]:
#sr의 자료형 출력
print(type(sr))

<class 'pandas.core.series.Series'>

In [6]:
# sr에 저장된 시리즈 객체 출력
print(sr)

a    1
b    2
c    3
dtype: int64

- 시리즈 객체 출력 시 인덱스 'a', 'b', 'c' 는 왼쪽에 표시
- 인덱스와 짝을 이루는 데이터 값 1, 2, 3은 오른쪽에 표시
- 시리즈를 구성하는 데이터 값의 자료형은 정수형(int64)

인덱스 구조
- 인덱스는 자기와 짝을 이루는 데이터 값의 순서와 주소를 저장
- 인덱스를 활용하여 데이터 ㄱ밧의 탐색, 정렬, 선택, 결합 등 데이터의 조작을 쉽게 할 수 있음

판다스 serise() 함수를 사용하여 파이썬 리스트를 시리즈로 변환하느 예제

In [8]:
import pandas as pd

# 리스트 생성, 변수 list_data에 저장
list_data = ['2020-02-21', 3.14, '허용준', 100, True]
sr = pd.Series(list_data)

In [9]:
print(sr)

0    2020-02-21
1          3.14
2           허용준
3           100
4          True
dtype: object

- 인덱스를 별도로 정의하지 않았기 때문에 디폴트로 정수형 위치 인덱스(0,1,2,3,4)가 자동 적용


- 시리즈를 구성하는 원소 데이터 값의 자료형은 문자열(object)
 - 숫자와 문자열이 데이터에 혼합되어 있을 경우 자료형이 문자열로 표기됨


- 리스트와 판다스의 시리즈는 둘 다 동일하게 인덱스를 소유
 
 
- 리스트는 정수형 위치 인덱스만 존재
  - ex) list_data[0]


- 시리즈는 정수형 위치 인덱스와 인덱스 이름 둘 다 존재
  - ex) sr[0]
  - ex) sr['날짜']

시리즈에서 인덱스는 크게 두 가지가 존재
- 정수형 위치 인덱스 and 인덱스 이름

시리즈의 index 속성을 이용하여 인덱스 배열 따로 선택 가능<br><br>
시리즈의 valuse 속성을 이용하여 데이터 값 따로 선택 가능<br><br>
시리즈의 인덱스와 데이터를 따로 확인하는 예제

In [10]:
import pandas as pd

# 리스트 생성, 변수 list_data에 저장
list_data = ['2020-02-21', 3.14, '허용준', 100, True]
sr = pd.Series(list_data)

In [12]:
# 인덱스 배열은 변수 idx에 저장, 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2020-02-21' 3.14 '허용준' 100 True]

In [13]:
print(type(val))

<class 'numpy.ndarray'>

- 인덱스는 0~4 범위의 정수를 갖는 RangeIndex 객체로 출력
- 데이터 값은 1차원 배열 형태(array)로 출력

판다스 Series() 함수를 사용하여 파이썬 튜플을 시리즈로 변환하는 예제(인덱스 정의)

In [14]:
import pandas as pd

# 튜플 생성, 변수, tup_data에 저장
tup_data = ('용준', '2022-02-21', '남', True)
sr = pd.Series(tup_data, index=['이름', '날짜', '성별', '학생여부'])

In [15]:
print(sr)

이름              용준
날짜      2022-02-21
성별               남
학생여부          True
dtype: object

시리즈 원소 선택 예제 1

In [16]:
# 원소를 1개 선택
# 정수형 위치 인덱스 
print(sr[0])

# 인덱스 이름
print(sr["이름"])

용준
용준

시리즈 원소 선택 예제 2

In [86]:
# 원소를 다중 선택(인덱스 리스트 활용)
# 정수형 위치 인덱스
print(sr[[1,2]])

#인덱스 이름
print(sr[['날짜', '성별']])

날짜    2022-02-21
성별             남
dtype: object
날짜    2022-02-21
성별             남
dtype: object

시리즈 원소 선택 예제 3

In [20]:
# 원소를 다중 선택(인덱스 범위 지정)
# 정수형 위치 인덱스
print(sr[1:2])

# 인덱스 이름
print(sr['날짜':'성별'])

날짜    2022-02-21
dtype: object
날짜    2022-02-21
성별             남
dtype: object

- 정수형 위치 인덱스는 범위 끝은 미포함
- 인덱스 이름을 사용하여 범위의 끝 포함

## 데이터 프레임
- 2차원 배열
- 여러 개의 열벡터(시리즈)들이 같은 행 인덱스를 기준으로 결합된 2차원 벡터 또는 행렬(matrix)

행과 열을 나타내기 위해서는 행 인덱스와 열 이름(두가지 주소)이 필요하다
- 열은 공통의 속성을 갖는 일련의 데이터의 집합
- 행은 공통적이고 다양한 속성 데이터들의 모음인 레코드(record)

데이터프레임 만들기 전 생각해보기
1. 데이터프레임을 만들기 위해서는 같은 길이의 1차원 배열(Serise)이 여러 개 필요
2. 딕셔너리 값에 해당하는 각 리스트가 시리즈 배열로 변환되어 데이터프레임의 열이 됨
3. 딕셔너리 키는 각 시리즈의 이름으로 변환되어 데이터프레임의 열 이름이 됨
4. 데이터프레임을 만들 때는 판다스 DataFrame()함수를 사용
<br><code> 딕셔너리 -> 데이터프레임 변환: pandas.DataFrame(딕셔너리 객체)

In [25]:
import pandas as pd

# key:valuse를 쌍으로 갖는 딕셔너리를 생성, 변수 dict_data에 저장
dict_data = {'c0':[1,2,3,], 'c1':[4,5,6], 'c2': [7,8,9],'c3':[10,11,12], 'c4':[13,14,15]}

# 판다스 DataFrame 함수로 딕셔너리 -> Df
df = pd.DataFrame(dict_data)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

행 인덱스 / 열 이름 설정

- 2차원 배열 -> 데이터프레임 변환할 때 인덱스와 열 이름 속성을 사용자가 직접 지정 가능
<br><code> 행 인덱스, 열 이름 설정: pandas.DataFrame(2차원 배열, index=행 인덱스 배열, columns=열 인덱스 배열)

행 인덱스/ 열 이름 설정 예제

In [41]:
import pandas as pd

#행 인덱스 . 열 이름을 지정하여 데이터프레임 만들기
df = pd.DataFrame([[22,'남','충남대'], [21,'여','서울대'],[20,'남','카이스트']],
                  index=['용준','서은','쭌너'],
                  columns=['나이', '성별', '학교'])

In [42]:
print(df)

    나이 성별    학교
용준  22  남   충남대
서은  21  여   서울대
쭌너  20  남  카이스트

In [36]:
print(df.index)

Index(['용준', '서은', '쭌너'], dtype='object')

In [37]:
print(df.columns)

Index(['나이', '성별', '학교'], dtype='object')

행 인덱스/ 열 이름 변경
<br><code> 행 인덱스 변경: DataFrame 객체.index = 새로운 행 인덱스 배열</code>
<br><code> 열 이름 변경: DataFrame 객체.columns = 새로운 열 이름 배열</code>

행 인덱스 / 열 이름 변경 예제

In [38]:
df.index = ['쭈너', '떠너', '쭈떠']
df.columns = ['연령','성별','대학']

In [39]:
print(df.index)
print(df.columns)

Index(['쭈너', '떠너', '쭈떠'], dtype='object')
Index(['연령', '성별', '대학'], dtype='object')

In [40]:
print(df)

    연령 성별    대학
쭈너  22  남   충남대
떠너  21  여   서울대
쭈떠  20  남  카이스트

rename() 함수를 사용하여 행 인덱스 / 열 이름 변경 가능 
<br><code> 행 인덱스 변경: DataFrame 객체.rename(index = {기존 인덱스: 새 인덱스,...})</code>
<br><code> 열 인덱스 변경: DataFrame 객체.rename(columns = {기존 열 이름: 새 열 이름,...})</code>

In [49]:
# rename 함수 사용해서 바꾸기
df.rename(index = {'용준':'쭈너','서은':'떠너','쭌너':'쭈떠'}, inplace = True)
df.rename(columns = {'나이':'연령', '학교':'대학'}, inplace = True)

In [50]:
print(df)

    연령 성별    대학
쭈너  22  남   충남대
떠너  21  여   서울대
쭈떠  20  남  카이스트

- inplace = True 를 쓰면 기존 객체에 반영

행 / 열 삭제
- 행 / 열 삭제 시 drop()함수 사용
- 행을 삭제할 때 축(axis) 옵션으로 axis=0 또는 입력 x / 열을 삭제할 때 축(axis) 옵션으로 axis=1 입력
<br><code>행 삭제 : 데이터프레임 객체.drop(행 인덱스 또는 배열, axis = 0(또는 생략))></code>
<br><code>열 삭제 : 데이터프레임 객체.drop(열 이름 또는 배열, axis = 1)></code>

In [117]:
import pandas as pd

# 데이터프레임 생성
exam_data = {'수학': [90,85,80], '영어':[100, 80, 70], '과학':[100, 99, 92], '국어':[93, 88, 83]}
df = pd.DataFrame(exam_data, index = ['용준','서은','쭈떠'])

In [118]:
print(df)

    수학   영어   과학  국어
용준  90  100  100  93
서은  85   80   99  88
쭈떠  80   70   92  83

행 삭제 예제

In [119]:
#데이터프레임 df를 복제하여 변수 df2에  저장, df2의 1개행 (row) 제거
df2 = df
df3 = df
df2.drop("쭈떠", inplace=True)

In [120]:
print(df2)

    수학   영어   과학  국어
용준  90  100  100  93
서은  85   80   99  88

In [121]:
#데이터프레임 df를 복제하여 변수 df3에 저장, df2의 2개 행(row) 제거
df3 = df
df3.drop(["용준","서은"], inplace =True)

In [73]:
print(df3)

    수학  영어  과학  국어
쭈떠  80  70  92  83

In [122]:
# 열 삭제
import pandas as pd

# 데이터프레임 생성
exam_data = {'수학': [90,85,80], '영어':[100, 80, 70], '과학':[100, 99, 92], '국어':[93, 88, 83]}
df = pd.DataFrame(exam_data, index = ['용준','서은','쭈떠'])

In [123]:
df2.drop('국어', axis = 1)

Empty DataFrame
Columns: [수학, 영어, 과학]
Index: []

In [124]:
df2.drop(['영어','국어'], axis = 1)

Empty DataFrame
Columns: [수학, 과학]
Index: []

행 선택<br>
데이터 시각화 부분에서 기준이 될 행을 선택할 수 있음
- 인덱스 이름을 기준으로 행을 선택할 시 loc 이용
 - 범위 지정 시 범위 끝 포함
- 정수형 위치 인덱스를 기준으로 행을 선택할 시 iloc 이용
 - 범위 지정 시 범위 끝 미포함

In [87]:
# 행 선택 예제
import pandas as pd

exam_data = {'수학': [90,85,80], '영어':[100, 80, 70], '과학':[100, 99, 92], '국어':[93, 88, 83]}
df = pd.DataFrame(exam_data, index = ['용준','서은','쭈떠'])

In [91]:
# 행 인덱스 이름을 사용하여 행 1개 선택
label1 = df.loc['용준']
position1 = df.iloc[0]

In [92]:
print(label1)

수학     90
영어    100
과학    100
국어     93
Name: 용준, dtype: int64

In [93]:
print(position1)

수학     90
영어    100
과학    100
국어     93
Name: 용준, dtype: int64

In [100]:
# 행 인덱스 이름을 사용하여 행 2개 선택
label2 = df.loc[['용준','서은']]
position2 = df.iloc[[0,1]]

In [101]:
print(label2)

    수학   영어   과학  국어
용준  90  100  100  93
서은  85   80   99  88

In [102]:
print(position2)

    수학   영어   과학  국어
용준  90  100  100  93
서은  85   80   99  88

 - 행 2개 이상 선택 시 데이터프레임 형태로 출력

In [113]:
# 행 인덱스 이름을 사용하여 행 여러 개 선택
label3 = df.loc['서은':'쭈떠']
print(label3)

    수학  영어  과학  국어
서은  85  80  99  88
쭈떠  80  70  92  83

In [112]:
position3 = df.iloc[1:3]
print(position3)

    수학  영어  과학  국어
서은  85  80  99  88
쭈떠  80  70  92  83

열 선택 예제
- 열은 정수형 위치 인덱스라는 개념이 없음

In [156]:
import pandas as pd

exam_data = {'수학': [90,85,80], '영어':[100, 80, 70], '과학':[100, 99, 92], '국어':[93, 88, 83]}
df = pd.DataFrame(exam_data, index = ['용준','서은','쭈떠'])

In [157]:
print(df.index)

Index(['용준', '서은', '쭈떠'], dtype='object')

In [126]:
# 수학 점수 데이터만 선택(열 선택)
math = df['수학']
print(math)

용준    90
서은    85
쭈떠    80
Name: 수학, dtype: int64

In [127]:
# 영어 점수 
eng = df.영어
print(eng)

용준    100
서은     80
쭈떠     70
Name: 영어, dtype: int64

In [133]:
# 열 두개 선택(여러개 선택할 때 슬라이싱은 못씀 하나씩 지정해줘야됨)
two_col = df[['수학','영어']]
print(two_col)

    수학   영어
용준  90  100
서은  85   80
쭈떠  80   70

원소 선택
- 데이터프레임의 행 인덱스와 열 이름을 [행, 열] 형식의 2차원 좌표로 입력하여 원소 위치를 지정<br>
<code>인덱스 이름: DataFrame 객체.loc[행 인덱스 이름, 열 이름]</code><br>
<code>정수 위치 인덱스: DataFrame 객체.iloc[행 번호, 열 번호]></code>
 - loc와 iloc는 행 때문에 사용

원소 선택 예제

In [187]:
import pandas as pd

exam_data = {'이름':['용준','서은','쭈떠'],
            '수학': [90,85,80], 
            '영어':[100, 80, 70], 
            '과학':[100, 99, 92], 
            '국어':[93, 88, 83]}

df = pd.DataFrame(exam_data)

In [188]:
print(df)

   이름  수학   영어   과학  국어
0  용준  90  100  100  93
1  서은  85   80   99  88
2  쭈떠  80   70   92  83

In [189]:
# '이름' 열을 새로운 인덱스로 지정, df 객체에 변경 사항 저장
df.set_index('이름', inplace=True)
print(df)

    수학   영어   과학  국어
이름
용준  90  100  100  93
서은  85   80   99  88
쭈떠  80   70   92  83

In [191]:
df.index.rename("성명", inplace = True)
print(df)

    수학   영어   과학  국어
성명
용준  90  100  100  93
서은  85   80   99  88
쭈떠  80   70   92  83

In [182]:
print(df.index)

Index(['용준', '서은', '쭈떠'], dtype='object', name='이름')

In [170]:
print(df.columns)

Index(['수학', '영어', '과학', '국어'], dtype='object')

In [171]:
# 데이터프레임 df의 특정 원소 1개를 선택('용준'의 '영어' 점수)
# loc
a = df.loc['용준', '영어']
print(a)

100

In [172]:
# iloc
b = df.iloc[0,1]
print(b)

100

In [173]:
# 데이터프레임 df의 특정 원소 2개를 선택('서은'의 '수학' 점수, '국어' 점수)
c = df.loc['서은',['수학','국어']]
print(c)

수학    85
국어    88
Name: 서은, dtype: int64

In [174]:
d = df.iloc[1,[0, 3]]
print(d)

수학    85
국어    88
Name: 서은, dtype: int64

In [175]:
# 데이터프레임 df의 2개 이상의 행과 열에 속하는 원소들 선택('서은', '용준'의 '영어', '과학' 점수)
e = df.loc[['서은','용준'], ['영어','과학']]
print(e)

     영어   과학
이름
서은   80   99
용준  100  100

직접 지정한 행 인덱스를 해제할 경우 reset_index() 사용

In [180]:
df.reset_index('이름', inplace = True)
print(df)

   이름  수학   영어   과학  국어
0  용준  90  100  100  93
1  서은  85   80   99  88
2  쭈떠  80   70   92  83

열 추가<br>
<code>DataFrame 객체['추가하려는 열 이름'] = 데이터 값</code>

열 추가 예제

In [192]:
import pandas as pd

exam_data = {'이름':['용준','서은','쭈떠'],
            '수학': [90,85,80], 
            '영어':[100, 80, 70], 
            '과학':[100, 99, 92], 
            '국어':[93, 88, 83]}

df = pd.DataFrame(exam_data)

In [197]:
# 데이터프레임 df에 '컴프' 점수 열(column) 추가
df['컴프'] = [80, 90, 100]

In [198]:
print(df)

   이름  수학   영어   과학  국어   컴프
0  용준  90  100  100  93   80
1  서은  85   80   99  88   90
2  쭈떠  80   70   92  83  100

행 추가
- 추가하려는 행 이름과 데이터 값을 loc 인덱서를 사용하여 입력
<br><code>DataFrame 객체.loc['새로운 행 이름'] = 데이터 값</code>

행 추가 예제

In [210]:
import pandas as pd

exam_data = {'이름':['용준','서은','쭈떠'],
            '수학': [90,85,80], 
            '영어':[100, 80, 70], 
            '과학':[100, 99, 92], 
            '국어':[93, 88, 83]}

df = pd.DataFrame(exam_data)

In [226]:
print(df)

   이름  수학   영어   과학  국어
0  용준  90  100  100  93
1  서은  85   80   99  88
2  쭈떠  80   70   92  83

In [227]:
# 새로운 행(row) 추가 - 같은 원소 값 입력
df.loc[3] = 0

In [228]:
print(df)

   이름  수학   영어   과학  국어
0  용준  90  100  100  93
1  서은  85   80   99  88
2  쭈떠  80   70   92  83
3   0   0    0    0   0

In [229]:
# 새로운 행(row) 추가 - 원소 값 여러 개의 배열 입력
df.loc[4] =["쭈떠쀼", 100, 100, 100 ,100 ]

In [230]:
print(df)

    이름   수학   영어   과학   국어
0   용준   90  100  100   93
1   서은   85   80   99   88
2   쭈떠   80   70   92   83
3    0    0    0    0    0
4  쭈떠쀼  100  100  100  100

In [237]:
# 새로운 행(row) 추가 - 기존 행 복사
df.loc[5] = df.loc[3]

In [238]:
print(df)

    이름   수학   영어   과학   국어
0   용준   90  100  100   93
1   서은   85   80   99   88
2   쭈떠   80   70   92   83
3    0    0    0    0    0
4  쭈떠쀼  100  100  100  100
5    0    0    0    0    0

In [246]:
df.drop(3, inplace=True)

In [247]:
print(df)

    이름   수학   영어   과학   국어
0   용준   90  100  100   93
1   서은   85   80   99   88
2   쭈떠   80   70   92   83
4  쭈떠쀼  100  100  100  100
5    0    0    0    0    0

원소 값 변경<br>
<code>DataFrame 객체의 일부분 또는 원소를 선택 = 새로운 값</code>

원소 값 변경 예제

In [248]:
import pandas as pd

exam_data = {'이름':['용준','서은','쭈떠'],
            '수학': [90,85,80], 
            '영어':[100, 80, 70], 
            '과학':[100, 99, 92], 
            '국어':[93, 88, 83]}

df = pd.DataFrame(exam_data)

In [249]:
df.set_index('이름', inplace=True)

In [250]:
print(df)

    수학   영어   과학  국어
이름
용준  90  100  100  93
서은  85   80   99  88
쭈떠  80   70   92  83

In [251]:
# 데이터프레임 df의 특정 원소를 변경('용준'의 '국어'점수)
df.iloc[0, 3] = 99

In [252]:
print(df)

    수학   영어   과학  국어
이름
용준  90  100  100  99
서은  85   80   99  88
쭈떠  80   70   92  83

In [256]:
df.drop("수학", inplace=True)

In [257]:
print(df)

      수학     영어     과학    국어  용준
이름
용준  90.0  100.0  100.0  99.0 NaN
서은  85.0   80.0   99.0  88.0 NaN
쭈떠  80.0   70.0   92.0  83.0 NaN

In [258]:
df.drop(['용준'], axis = 1, inplace=True)

In [259]:
print(df)

      수학     영어     과학    국어
이름
용준  90.0  100.0  100.0  99.0
서은  85.0   80.0   99.0  88.0
쭈떠  80.0   70.0   92.0  83.0

In [263]:
# 데이터프레임 df의 원소 여러 개 변경('용준'의  '수학', '과학' 점수)
df.loc["용준",["수학","과학"]] = 100, 100

In [264]:
print(df)

       수학     영어     과학    국어
이름
용준  100.0  100.0  100.0  99.0
서은   85.0   80.0   99.0  88.0
쭈떠   80.0   70.0   92.0  83.0

행, 열의 위치 바꾸기
- 선형대수학의 전치행렬과 같은 개념<br>
<code>행, 열 바꾸기: DataFrame 객체.transpose() or DataFrame 객체.T</code>

In [265]:
df_t = df.T

In [266]:
print(df_t)

이름     용준    서은    쭈떠
수학  100.0  85.0  80.0
영어  100.0  80.0  70.0
과학  100.0  99.0  92.0
국어   99.0  88.0  83.0

In [271]:
print(df_t.index)

Index(['수학', '영어', '과학', '국어'], dtype='object')

In [269]:
# 데이터프레임 df를 다시 전치
df = df_t.T

In [270]:
print(df)

       수학     영어     과학    국어
이름
용준  100.0  100.0  100.0  99.0
서은   85.0   80.0   99.0  88.0
쭈떠   80.0   70.0   92.0  83.0

In [273]:
print(df.index)

Index(['용준', '서은', '쭈떠'], dtype='object', name='이름')